// Define variables for your color scheme

// For example:
$red: #e14a42;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F85A3E;
$green: #1EDD88;
$gray: #494949;
$light-gray: #F4F4F4;
$light-yellow: #FFFDEB;
$light-red: #ffedeb;

