<div class="yellow-background">
  <div class="container">
    <div class="cards">
      <%= @articles.each do |article| %>
        <div class="each-card">
          <%= image_tag(article.image, class:"card-category center-image") %>
          <h2>
            <%= article.title %>
          </h2>
          <p class="limit-text"><%= article.description %></p>

        </div>
        <% end %>
    </div>
  </div>
</div>
