.nav-item {
  padding: 0px 80px;
  font-size: 16px;
  font-family: $headers-font;
  a {
    color: $red;
    opacity: 70%;
  }
  :hover {
    text-decoration: none;
    opacity: 100%;
  }
  :active {
    opacity: 100%;
  }
}

#wave {
  position: relative;
  height: 70px;
  width: 100%;
  background: $red;
}
#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 80px;
  background-color: $light-red;
  right: -5px;
  top: 40px;
}
#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 70px;
  background-color: $red;
  left: 0;
  top: 27px;
}

#wave2 {
  position: relative;
  height: 70px;
  width: 100%;
  background: $light-red;
}
#wave2:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 80px;
  background-color: $red;
  right: -5px;
  top: 40px;
}
#wave2:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 70px;
  background-color: $light-red;
  left: 0;
  top: 27px;
}


.white-nav {
  background-color: white !important;
  margin: auto;
  width: 50%;
}

.banner-header {
  padding: 28px;
  color: white;
  font-weight: lighter;
}

.form-control {
  border-radius: 8px !important;
  font-style: $headers-font !important;
}

// select.form-control {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   padding: 6px 12px;
// }

.navbar {
  background-color: $red;
}

.navbar-brand {
  font-family: $headers-font;
  color: white !important;
}

.banner-header {
  margin: 0;
}

.yellow-background {
  background-color: $light-yellow;
}

.red-background {
  background-color: $red !important;
}
.search-button {
  background-color: #F85A3E;
  border-bottom-style: none;
  border-radius: 4px;
  opacity: 50%;
  color: white !important;
}

.light-red-background {
  background-color: $light-red;
}

.search-input {
  background-color: #F85A3E;
  border-bottom-style: none;
  border-radius: 4px;
  opacity: 50%;
  color: white !important;
}

.search {
  background-color: transparent;
}


body {
  background-color: $light-red !important;
}
