.nav-item {
  padding: 0 140px;
  :hover {
    text-decoration: none;
    font-size: bold;
  }
  font-family: $headers-font;
  a {
    color: black;
    opacity: 70%;
  }
}

.banner-header {
  padding: 28px;
  background-color: $light-yellow;
}

.form-control {
  border-radius: 8px !important;
  font-style: $headers-font !important;
}

.navbar {
  background-color: $light-yellow !important;
}

.banner-header {
  margin: 0;
}

.yellow-background {
  background-color: $light-yellow;
}

.search-button {
  background-color: #F85A3E;
  border-bottom-style: none;
  border-radius: 4px;
  opacity: 50%;
  color: white !important;
}

.search-input {
  background-color: #F85A3E;
  border-bottom-style: none;
  border-radius: 4px;
  opacity: 50%;
  color: white !important;
}


.orange-border-bottom {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  background-color: $light-yellow !important;
}

body {
  background-color: $light-yellow !important;
}
