<div id="wave2"></div>
<div class="red-box d-flex align-items-end justify-content-center">
  <ul>
    <li>
      <a href="https://www.instagram.com/lucakuhn/"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/"><i class="fab fa-linkedin-in"></i></a>
    </li>
  </ul>
</div>
