<nav class="navbar navbar-light bg-light justify-content-between red-background">
  <%= link_to "lnb", root_path, class: "navbar-brand", id: "logo" %>
  <div class="search form-inline">
    <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control form-control2" %>
    <% end %>
  </div>
</nav>




 <!--  <div class="my-links">
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram-square"></i>
  </div> -->
